body {
    text-align: center;
}

.header {
    color: antiquewhite;
    background-color: dodgerblue;
    border-style: solid;
    border-width: 10px;
    border-color: blue;
    border-bottom-width: 5px;
}

.recipes {
    color: beige;
    background-color: bisque;
    border-style: solid;
    border-color: burlywood

}

ul {
    list-style: none;
}